.cajas{

    /*transform: translateX(30);*/
    /*transform: scale(1.5)*/
    /*transform: rotateZ(0deg)*/
    
}

.cajas{

    transition: 0.75s;

}

.cajas:hover{

    transform: rotateZ(0deg);
    background-color: #BDA06C;
    scale: 1.75;
    animation-name: acercamiento;
    box-shadow: 0px 0px #d7385e;

}
#caja1:hover{

    transform: translateX(300px);
    
}
#caja3:hover{

    transform: translateX(-300px);
    
}